<div class="jumbotron">
    <h1>Trello</h1>
	<p> Gerenciador de tarefas desenvolvido com frameworks Ruby on Rails. Registre-se primeiro para poder usar a nossa Task. </p>
 	<%= link_to 'Sign up', "#", class: ' btn btn-primary btn-lg' %> 
</div>

