<h1> Opera nem é navegador</h1>

<div class="row">

	<div class="col-md-4">
		<h1 class="text-center">To do</h1>
			<div class="panel panel-primary">	
				<div class="panel-heading">My Todo</div>
				<div class="panel-body">Need to update this</div>
				<div class="panel-footer text-center">doing</div>

            </div>
            </div>
    <div class="col-md-4">
        <h1 class="test-center">Doing</h1>
        <div class="panel panel-info">	
				<div class="panel-heading">My Todo</div>
				<div class="panel-body">Need to update this</div>
				<div class="panel-footer text-center">doing</div>

            </div>
    </div>
    <div class="col-md-4">
        <h1 class="test-center">Done</h1>
        <div class="panel panel-danger">	
				<div class="panel-heading">My Todo</div>
				<div class="panel-body">Need to update this</div>
				<div class="panel-footer text-center">doing</div>

            </div>
    </div>

</div>

